@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

ol, ul {
  list-style: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em 4em;
  font-family: "poppins";
  font-size: 20px;
  font-weight: 500;
  color: #f2f3f7;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
  white-space: nowrap;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.logo {
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn-prim {
  padding: 0.5em 1em;
  font-size: 20px;
  font-family: "poppins";
  font-weight: 400;
  color: #f2f3f7;
  background: #ea9073;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border: none;
}

.no-decoration {
  text-decoration: none;
}

.video {
  height: 100vh;
  width: 100vw;
  background-color: blanchedalmond;
  margin: 4rem 0;
}

/* Section header styling

Text and paragraph
||
V
*/
.section-header {
  font-family: "poppins";
  font-size: 32px;
  font-weight: 500;
  color: #272727;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-section-header {
  font-family: "poppins";
  font-size: 32px;
  font-weight: 500;
  color: #f2f3f7;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header-hr {
  width: 40%;
  height: 3px;
  background: #272727;
  border-radius: 80%;
}

.hero_img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 100vw;
}

.header-container {
  height: 60vh;
}

.hero-subpages {
  width: 100vw;
}

.hero-subpages img {
  position: absolute;
  top: 0;
  z-index: -1;
  max-width: 100vw;
}

.header-text {
  width: 100vw;
  height: 100%;
  background: #c9af98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-4rem {
  margin: 4rem 0;
}

.column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prim-header {
  font-family: "poppins";
  font-size: 42px;
  color: #f2f3f7;
  font-weight: 600;
}

.sub-header {
  font-family: "poppins";
  font-size: 32px;
  color: #f2f3f7;
  font-weight: 400;
}

.sub-header_black {
  font-family: "poppins";
  font-size: 32px;
  color: #272727;
  font-weight: 400;
}

.paragraph {
  font-family: "poppins";
  font-size: 20px;
  color: #272727;
  text-align: left;
  max-width: 48ch;
}

.paragraph_white {
  font-family: "poppins";
  font-size: 20px;
  color: #f2f3f7;
  text-align: left;
  max-width: 48ch;
  text-decoration: none;
}

.paragraph_white_wide {
  font-family: "poppins";
  font-size: 20px;
  color: #f2f3f7;
  text-align: left;
  max-width: 80ch;
  text-decoration: none;
}

.mx-w40 {
  max-width: 40ch;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-container {
  gap: 20px;
}

.about-stefan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
  background-color: #c9af98;
  width: 100vw;
  height: 100vh;
  margin: 3rem 0;
}

.about-stefan .left-about-stefan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  height: 60%;
}

.about-stefan .left-about-stefan img {
  max-width: 400px;
}

.about-stefan .right-about-stefan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  height: 60%;
}

.about-stefan .right-about-stefan p {
  max-width: 40ch;
  color: #f2f3f7;
  font-weight: 300;
  font-family: "poppins";
  font-size: 20px;
}

.about-stefan .right-about-stefan img {
  max-width: 400px;
}

/* *********** HOME ************ */
.heading-home {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.home-flex-container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  margin-left: 10%;
  margin-top: 20vh;
  text-align: left;
}

.row-container-btn-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5em;
  margin: 1em 0;
}

.exp-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.travels-home {
  gap: 20px;
}

.travel-img-home {
  max-width: 800px;
  max-height: 230px;
}

.about-mcsafari-home {
  background: #c9af98;
  margin: 4rem 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-mc-paragraph {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  max-width: 100ch;
}

.travels-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
  gap: 5em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Footer  */
.top-footer {
  background-color: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top-footer li {
  font-family: "poppins";
  font-size: 20px;
  color: #f2f3f7;
  list-style-type: none;
  margin: 1em 0;
}

.bottom-footer {
  background-color: #c9af98;
}

.bottom-footer p {
  text-align: center;
  width: 100vw;
}

.hero-subpage_test {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.paragraph-hero-subpage {
  width: 100vw;
  padding: 2rem;
  background: #c9af98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.paragraph-hero-subpage p {
  font-family: "poppins";
  font-size: 20px;
  color: #f2f3f7;
  text-align: left;
}

.three-piece-offroad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.three-piece-offroad p {
  font-family: "poppins";
  font-size: 20px;
  color: #272727;
  text-align: center;
}

.three-piece-offroad .paragraph-offroad-day {
  text-align: center;
  max-width: 40ch;
  font-size: 20px;
  font-weight: 500;
  font-family: "poppins";
}

.three-piece-offroad .three-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  gap: 1rem;
  margin: 4rem 6rem;
}

.three-piece-offroad .img-offroad-dag {
  max-width: 300px;
}

.container-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.container-mission .mission-rejser h3 {
  font-family: "poppins";
  font-size: 32px;
  color: #272727;
  font-weight: 600;
}

.container-mission .mission-rejser p {
  max-width: 50ch;
  font-family: "poppins";
  font-size: 20px;
  color: #272727;
}

.container-mission img {
  max-width: 600px;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10%;
}

.products-container > {
  margin: 2rem 0;
}
/*# sourceMappingURL=index.css.map */